* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  font-family: $font-stack;
  font-size: $common-font-size;
  background-color: $primary-color-light;
  color: $primary-color-dark;
}
