@mixin font(
  $font-family: $font-stack,
  $size: $common-font-size,
  $weight: 400,
  $font-color: $primary-color-dark,
  $transform: none
) {
  font-weight: $weight;
  font-size: $size;
  text-transform: $transform;
  font-family: $font-family;
  color: $font-color;
}

@mixin mixin-input(
  $height: 15px, 
  $width: 600px, 
  $border: none, 
  $outline: none
) {
  height: $height;
  width: $width;
  border: $border;
  outline: $outline;
}