@mixin font(
  $font-family: $font-stack,
  $size: $common-font-size,
  $weight: 600,
  $font-color: $primary-color-dark,
  $transform: none
) {
  font-weight: $weight;
  font-size: $size;
  text-transform: $transform;
  font-family: $font-family;
  color: $font-color;
}
