$font-stack: 'Josefin Sans', sans-serif;
$title-font-size: 30px;
$common-font-size: 18px;
$background-color: #fafafa;
$primary-accent-color: #73a5fa;
$primary-color-light: white;
$primary-color-grey: #bdbec9;
$primary-color-dark: #626580;
